{% extends 'layout.html'%}

{% block content %}

<h1>About</h1>

<p>El generador, tiene un uso práctico para crear contraseñas de manera sencilla y rápida</p>
<p>La generación depende de las caracteristicas que quiera agregar el usuario,
    en los carateres especiales se añaden por ejemplo, "#$%&/(¿)?", todas son generadas de manera
    aleatoria...
    <br>Las tecnologias usadas fueron python, django, css, render, html, js y jinja
</p>


<p>Versión 1.0</p>


<footer>thanks @fazt</footer>
{% endblock %}