{% extends 'layout.html' %}

{% block content %}

<h1 class="text-center">contraseña generada con éxito</h1>

<div class="col-md-4 offset-md-4">

    <div class="card card-body bg-light text-center text-dark">

      <p class="fs-4" id="text1">{{password}}</p>
      
      <a href="{% url 'home' %}" class="text-primary">Go to Home</a>
    
    </div>

    <div class="text-center p-5">

      <button class="mt-20 btn btn-primary" id="btn-copy" onclick="copy('text1')" >Copy</button>

      <p id="alert" style="display: none;">Text Copied!!</p>
    
    </div>
  
</div>

<!-- include de js, para reservar espacio en el hosting y evitar mas archivos -->
<script>
      function copy(copyId){

        let inputElemnt = document.createElement("input")
        let copyText = document.getElementById(copyId).innerHTML;
        
        inputElemnt.type = "text";
        inputElemnt.value = copyText;
        document.body.appendChild(inputElemnt);

        inputElemnt.select();

        document.execCommand('copy');
        document.body.removeChild(inputElemnt);
        
        document.getElementById("alert").style.display = "block";
        
        setTimeout(function() {
          document.getElementById("alert").style.display = "none"
        }, 1000);

      }
</script>
{% endblock %}
